<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        
        <div class="hbuttons">
            <button class="button" onclick="window.location.href='{% url 'login' %}'">Login</button>
            <button class="button" onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
        </div>

    </div>


</body>
</html>