<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Musafir</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        <h2 class="pghead">Login to Musafir to get going.</h2>

        <div class="login-form-box">

            <div>
                <form class="input-group">
                    <input type="text" class="input-field" placeholder="Enter Email" required>
                    <br>
                    <input type="text" class="input-field" placeholder="Enter Password" required>
                </form>
            </div>

            <div class="signup-bttn">
                <button class="button">Login</button> 
            </div> 
        </div>

    </div>
</body>
</html>