<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Musafir</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        <h2 class="pagehead">Login to Musafir to get going.</h2>

        <div class="login-form-box">

            <div>
                <form method="POST" class="input-group">
                    {% csrf_token %}
                    {% if error %}
                        <p style="color:red;">{{ error }}</p>
                    {% endif %}
                    <input type="email" name="email" class="input-field" placeholder="Enter Email" required><br>
                    <input type="password" name="password" class="input-field" placeholder="Enter Password" required><br>
                
                    <div class="signup-bttn">
                        <button type="submit" class="button">Login</button> 
                    </div> 
                </form>
            </div>

        </div>

        <div class="alter-login-signup">
            <h3>Don't Have An Account?</h3>
            <button class="button" onclick="window.location.href='{% url 'signup' %}'">Register Here</button>
        </div>

    </div>
</body>
</html>