{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Your Profile</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <div class="nav">
            <div class="nav-center">
                <h1>Project Musafir: Your Ride Bus Journey Companion</h1>
            </div>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button class="button" type="submit">Logout</button>
            </form>
            {% endif %}
        </div>

        <div class="hbuttons">
            <button class="button" onclick="window.location.href='{% url 'activity' %}'">Activity Home</button>
        </div>
    <div class="form-box">
        <h2 class="pagehead">User Profile</h2>
        <form method="POST" class="input-group" >
            {% csrf_token %}
            <input type="text" name="username" class="input-field" value="{{ user.username }}" required><br>
            <input type="email" name="email" class="input-field" value="{{ user.email }}" required><br>
            <input type="text" name="phone" class="input-field" value="{{ profile.phone }}" required><br>
            <select name="role" class="input-field" required>
                <option value="psg" {% if profile.role == 'psg' %}selected{% endif %}>Passenger</option>
                <option value="drv" {% if profile.role == 'drv' %}selected{% endif %}>Driver</option>
            </select><br>
            <div class="signup-bttn">
                <button type="submit" class="button">Update</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>