<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | Project Musafir</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        <h2 class="pghead">{{ request.user.username }}'s Profile</h2>

        <div class="form-box">
            <div class="input-group">
                <p class="input-field"><strong>Name:</strong> {{ user.username }}</p>
                <p class="input-field"><strong>Email:</strong> {{ user.email }}</p>
                <p class="input-field"><strong>Phone:</strong> {{ profile.phone }}</p>
                <p class="input-field"><strong>Role:</strong> 
                    {% if profile.role == 'psg' %}
                        Passenger
                    {% elif profile.role == 'drv' %}
                        Driver
                    {% endif %}
                </p>
                <br>
                <a href="{% url 'profile_update' %}">
                    <button class="button">Update Profile</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
