<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Musafir</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        Sign Up to Musafir to get going.
        <div>
            <button class="button">Sign Up</button>
            
        </div>

    </div>


</body>
</html>