<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Musafir</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="full">
        <h1 class="nav">Project Musafir: Your Ride Bus Journey Companion</h1>
        <h2 class="pagehead">Sign Up to Musafir to get going.</h2>

        <div class="form-box">
            {% if error %}
                <p style="color:red; text-align:center;">{{ error }}</p>
            {% endif %}
            <form method="POST" class="input-group">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="input-field" required><br>
                <input type="email" name="email" placeholder="Email" class="input-field" required><br>
                <input type="tel" name="phone" placeholder="Phone Number" class="input-field" required><br>
                
                <label for="role">Choose your Account Type:</label>
                <select name="role" id="role" class="input-field" required>
                    <option value="">--Select Role--</option>
                    <option value="psg">Passenger</option>
                    <option value="drv">Driver</option>
                </select><br>

                <input type="password" name="password" placeholder="Password" class="input-field" required><br>
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field" required><br>

                <div class="signup-bttn">
                    <button type="submit" class="button">Sign Up</button> 
                </div>
            </form>
        </div>

        <div class="alter-login-signup">
            <h3>Already Have An Account?</h3>
            <button class="button" onclick="window.location.href='{% url 'login' %}'">Login Instead</button>
        </div>

    </div>

</body>
</html>