*{
    margin: 0;
    padding: 0;
}
.full{
    height: 100%;
    width: 100%;
    background-image: url("https://iili.io/37EdMGa.md.png");
    background-position: center;
    background-size: cover;
    position: absolute;
}
.nav{
    height: 8%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    background-color: rgba(59,59,59,0.7);
}
.hbuttons{
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    padding: 20px;
}
.button{
    width: 200px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background:  rgb(59,59,59);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}
.pghead{
    text-align: center;
    margin-top: 20px;
}
.form-box{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background: #bdbdbdde;
    padding: 5px;
    border-radius: 20px;
}
.input-group {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: white;
}
.signup-bttn{
    justify-self: center;
    margin-top: 20px;
    display: flex;
}
.login-form-box{
    width: 400px;
    height: 250px;
    position: relative;
    margin: 2% auto;
    background: #bdbdbdde;
    padding: 5px;
    border-radius: 20px;
}
.alter-login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alter-login-signup h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.pagehead{
    text-align: center;
    align-self: center;
    margin-top: 10px;
}
.float-box{
    width: 80%;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background: #bdbdbdde;
    padding: 5px;
    border-radius: 20px;
}